@model MedicalCorporateWebPortal.Models.ProfileViewModel

@{
    ViewData["Title"] = "EditProfile";
}

<h2>Изменение информации</h2>

@using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MiddleName)
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender)
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Gender))))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth)
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (User.IsInRole(UserRole.Пациент.ToString()))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Address)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address)
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PassportSeries)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PassportSeries)
                    @Html.ValidationMessageFor(model => model.PassportSeries, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PassportNumber)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PassportNumber)
                    @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.InsuranceNumber)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.InsuranceNumber)
                    @Html.ValidationMessageFor(model => model.InsuranceNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.InsuranceCompany)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.InsuranceCompany)
                    @Html.ValidationMessageFor(model => model.InsuranceCompany, "", new { @class = "text-danger" })
                </div>
            </div>
                        <div class="form-group">
                @Html.LabelFor(model => model.SNILS)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SNILS)
                    @Html.ValidationMessageFor(model => model.SNILS, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">  
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
            <div class="col-md-offset-2 col-md-2">
                @Html.ActionLink("Назад", "Profile", "Profile", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

