@model MedicalCorporateWebPortal.Models.RecordConfirmViewModel


<h2 class="text-danger">@ViewBag.Message</h2>

<h2>Запись на прием</h2>

@using (Html.BeginForm("RecordConfirmation", "Record", FormMethod.Post))
{
    @Html.HiddenFor(model => model.DoctorID)
    @Html.HiddenFor(Model => Model.Date)
    @Html.HiddenFor(model => model.ServiceID)
    <div class="record-confirm-info-block">
        <h3>Данные записи</h3>
        <div class="beige-box">
            <div>
                @{
                    var culture = new System.Globalization.CultureInfo("ru-RU");
                }
                @string.Format("{0}, {1}  {2}  {3}", Model.Date.Day, Model.Date.ToString("MMMM"), culture.DateTimeFormat.GetDayName(Model.Date.DayOfWeek), Model.Date.ToShortTimeString())
            </div>
            <hr />
            <div class="record-ticket-header">Услуга</div>
            <div>@Model.ServiceName</div>
            <div class="record-ticket-header">Врач</div>
            <div>@string.Format("{0} {1}", Model.DoctorLastName, Model.DoctorFirstName)</div>
            <div class="record-ticket-cost">
                <text class="record-ticket-header">Стоимость</text>
                @if (Model.ServiceCost <= 0)
                {
                    <b>Бесплатно</b>
                }
                else
                {
                    <b>@Model.ServiceCost</b>
                }
            </div>
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="record-confirm-contrls-block form-horizontal">
            <h3>Контактные данные</h3>
            <div class="form-group">
                <h1>ФИО</h1>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h1>Эл. почта</h1>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h1>Телефон</h1>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" class="btn btn-success" value="Записаться" />
                </div>
            </div>
        </div>
    }
    @if (User.IsInRole(UserRole.Врач.ToString()))
    {
        <div class="record-confirm-contrls-block">
            @Html.ActionLink("Записать пациента", "Patients", "Doctor", new { @doctorId = Model.DoctorID, @date = Model.Date, @serviceId = Model.ServiceID }, new { @class = "btn btn-success btn-sx" })
        </div>
    }
    else if (User.IsInRole(UserRole.Пациент.ToString()))
    {
        <div class="record-confirm-contrls-block" style="background-color:none;">
            <input type="submit" class="btn btn-success" value="Записаться" />
        </div>

    }
}




